.navbar-top .nav-pills > li > a, .navbar-top .nav-pills > li > a:hover {
    padding: 0 5px 0px 5px;
    margin-right: 5px;
    border-radius: 0px;
}

.navbar-top .nav-pills {
    margin-bottom: 0px;
}

.pendingWrapper {
    position: relative;
}

.pendingOverlayBackground {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    opacity: 0.2;
    z-index: 999;
}
.pendingOverlayContent {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    color: #333;
    z-index: 1000;
}

.pendingOverlayContent .centered {
    text-align: center;
}

.panel-heading {
    padding: 10px 15px;
}
